
html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;

}



.degenerat {
    font-style: initial;
    background-color: aqua;
}







.main-title {
    height: 360px;
    line-height: 300%;
    top: 50%;
    font-size: 300%;
    width: 100%;
    text-align: center;
    border: 1px groove #000;
    background: linear-gradient(90deg, rgb(152, 207, 195), rgb(86, 181, 184), rgb(237, 242, 208));
    background-position: center, center;
    vertical-align: middle;
    background-size: 110%;
    font-family: cursive;
}

.sheeeet {
    font-size: 200%;

}

.param {
    font-size: 10%

}

.menu-panel {
    vertical-align: middle;
    display: table;
    top: 50%;
    border-collapse: separate;
    width: 100%;
    text-align: center;
    border: 0px groove #000;
    border-spacing: 0px 0px;
    background-color: dimgray
}

.button {
    vertical-align: top;
    margin-left: -95%;
    margin-top: 0.3%;
    background-image: url(home.png);
    padding: 22px 22px;
    background-size: 100% 100%;
    border: none;
}

button {

}

form {

}

.button-menu {
    width: 100%;
    height: 100px;
    border: 1px solid #0a3c59;
    background-color:dimgrey;
    padding: 0px;
    vertical-align: middle
}

.links-action {
    display: inline-block;
    width: 19%;
    height: 108px;
    border-spacing: 3px;
    vertical-align: middle;
}

.getting-started {
    border-style:solid;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 110%;
    width: 90%;
    margin: auto;
}

.photo {
    border-style: solid;
    border-width: 1px;
    border-spacing: 1;
    width: 23%;
    height: 200px

}

.photo-center {
    vertical-align: center;
    display: block;
    border-collapse: separate;
    width: 100%;
    border: 0px groove #000;
    border-spacing: 3px 3px 3px 3px;
    margin: auto;
    text-align: center;

}

.table-test {
    width: 100%;
    text-align: center
}

.tr-test {
    border-style: solid
}

td {
    border-style: solid;
    border-width: 1px;
    width: 1%;
}

.test-button {
    width: 100%;
    height: 200px;
}



.youtube-video {
    text-align: center;
    vertical-align: middle
}



.main-box {
    width: 99%;
    vertical-align: middle;
    display:block;
    margin:auto;
    border-style: groove;
    border-width: 1px;
    background-color: bisque;
}

body {


}

.tablica {
    width: 95%;
    margin: auto;
}

p {

}

.tmp {
    vertical-align: middle;
    text-align: center;
    margin-top: -7%;
}

.colontitul {
    font-size: 10px;
    font-style: italic;
    color: darkgray;
    text-align: center
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.par {
    text-align: center;
}

.testhtml {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    width: 800px;
    padding: 2em 2em 4em;
}

.body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0.1em;
}
